@charset "UTF-8";
.info {
  border-collapse: collapse;
}  
.info th {
  padding: 10px;
  /*color: #168;*/

  text-align: center;
}
.info td {
  /*color: #669;*/
  padding: 10px;
  text-align: center;
  /*border-bottom: 1px solid;*/
}
.btn{
	float:right;
}
.address-btn{
	margin-bottom:10px;
}
